.menu > li {
    float:left;
}

.menu li a {
    background-color:transparent;
    color:black;
    text-decoration:none;
    font-family: 'Fredoka One', cursive;
    padding:12px 10px;
    display:block;
    align-content: center;
}

.menu li a:hover {
    background-color:#FAC67C;
    border-radius: 12px;
}

.menu li ul {
    display:none;
    position:absolute;
    min-width: 150px;
}

.menu li:hover > ul {
    display:block;
    background-color: #F8D6A6;
    border-radius: 12px;
}

.menu li ul li {
    position:relative;
}